<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EAD_Assignment_Mobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ReservationFormActivity"
            android:exported="false" />
        <activity
            android:name=".ReservationSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".EditBookingActivity"
            android:exported="false" />
        <activity
            android:name=".UpcomingBookingsActivity"
            android:exported="false" />
        <activity
            android:name=".PastBookingsActivity"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".CreateActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.EAD_Assignment_Mobile.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>